/* Sans media */
/* Hero */


#hero {
	background: url( "../img/hero/sushiBG.jpg" );
	background-size: cover;
	background-position: center center;
	/* background-attachment: fixed; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 50px;
	height: calc( 100vh - var( --navbar-height ) );
	color: white;
	text-align: center;
	text-shadow: 0 0 3px var( --border-color );
}

#hero h1 {
	font-size: 3em;
	font-weight: bold;
	line-height: 1.5em;
}

#hero a {
	font-size: 1.3em;
	color: inherit;
}

/* Main */
#main{
	justify-content: center;
	background-image: url("../img/content/ardoise.jpg");
}

#main, h2 {
	font-size: 2em;
	color: white;
	display: flex;
    flex-direction: column;
    align-items: center;
	padding-top:30px;
	padding-bottom: 40px;
}

#main > section{
	display:flex;
	flex-wrap: wrap;
	padding-bottom: 40px;
}

#main > section > a{
	padding-right:20px;	
}

.overlay-text1{
	color:black;
	position:absolute;
	padding-top: 155px;
    padding-left: 33px;
	display:flex;
	flex-wrap: wrap;
}

.overlay-text2{
	color:black;
	position:absolute;
	padding-top: 155px;
    padding-left: 400px;
	display:flex;
	flex-wrap: wrap;
}

.overlay-text3{
	color:black;
	position:absolute;
	padding-top: 155px;
    padding-left: 770px;
	display:flex;
	flex-wrap: wrap;
}

#main img{
	width: 350px;
	height: 190px;
	z-index: -1;
}



/*#main p {
	line-height: 1.3em;
	margin-top: 1em;
	position: absolute;
	color:black;
	z-index: 2;
}
*/

/*#main img{
	display:flex;
	position: relative;
	z-index:1;
	width: 350px;
	height: 190px;
}

.products > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.products > ul > li {
	padding: 0 10px;
}

figure > img {
	display: block;
	max-width: 150px;
	min-height: 150px;
}

.sous-category {
	display : none
}
*/

/* Hero */
/* Call to action btn */
.right > span > a{
	display: flex;
	flex-direction: column;
  	padding: 0.85em 1.5em;
  	font-size: 1.5em;
  	text-decoration: none;
  	color: #ffffff;
  	background-color: #E7C56B;
  	border: none;
  	border-radius: 0.62em;
	margin:10px;
}

.right > span > a:hover{
	background-color: white;
	opacity: 0.4;
	color:black !important;
}

.right{
	padding-left: 10px;
	flex-direction: column;
	column-gap: 20px;
}

.left {
	padding-right: 10px;
}

/* Text */

.info {
	display:flex;
}

.left > ul{
	display:flex;
	flex-direction: column;
}

.left > ul > li{
	display:flex;
	
}

.texthaut {
	padding-bottom: 10px;
}

/* Smartphone */
@media screen and ( max-width: 600px ) {
}

/* PC */
@media screen and ( min-width: 601px ) {
	#main {
		grid-template-columns: 1fr 1fr 1fr;
	}
}