/* Sans media */
/* Hero */


#hero {
	background: url( "../img/hero/sushiBG.jpg" );
	background-size: cover;
	background-position: center center;
	/* background-attachment: fixed; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 50px;
	height: calc( 100vh - var( --navbar-height ) );
	color: white;
	text-align: center;
	text-shadow: 0 0 3px var( --border-color );
}

#hero h1 {
	font-size: 3em;
	font-weight: bold;
	line-height: 1.5em;
}

#hero a {
	font-size: 1.3em;
	color: inherit;
}

/* Main */
#selection{
	justify-content: center;
	background-image: url("../img/content/ardoise.jpg");
}

#selection, h2 {
	font-size: 2em;
	color: white;
	display: flex;
    flex-direction: column;
    align-items: center;
	padding-top:20px;
	padding-bottom: 40px;
}

#selection > section{
	display:flex;
}

#selection > section > a > div{
	max-width:350px;
	min-height:190px;
	background-size: cover;
	position: relative;
}

#sushi{
	background:url("../img/bouffe/sushi-saumon-avocat.jpg");
}

#california{
	background:url("../img/bouffe/california-crevette.jpg");
}

#maki{
	background:url("../img/bouffe/maki-crevette.jpg");
}

#sashimi{
	background:url("../img/bouffe/sashimi-thon.jpg");
	
}

#saumonrolls{
	background:url("../img/bouffe/saumon-rolls-cheese-avocat.jpg");
	
}

#yakitori{
	background:url("../img/bouffe/yakitori_aileron_de_poulet.jpg");
	
}

#pokebowls{
	background:url("../img/bouffe/pokebowls_saumon_cuit.jpg");
	
}

#grandplateau{
	background:url("../img/bouffe/grandplateau_kim_royal.jpg");
	
}

#horsdoeuvre{
	background:url("../img/bouffe/horsdoeuvres.jpg");
	
}

#selection > section > a > div > span{
	display:block;
	position:absolute;
    bottom: 8px;
    right: 10px;
	font-size: 0.6em;
	font-weight: bold;
}

#selection > section > a{
	text-decoration: none;
	color: black;
	padding-right: 30px;
    padding-bottom: 40px;
	width:350px;
	height:190px;
}

.products > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.products > ul > li {
	padding: 0 10px;
}

figure > img {
	display: block;
	max-width: 150px;
	min-height: 150px;
}

.sous-category {
	display : none
}


/* Hero */
/* Call to action btn */
.right > span > a{
	display: flex;
	flex-direction: column;
  	padding: 0.85em 1.5em;
  	font-size: 1.5em;
  	text-decoration: none;
  	color: #ffffff;
  	background-color: #81674B;
  	border: none;
  	border-radius: 0.62em;
	margin:10px;
}

.right > span > a:hover{
	background-color: white;
	opacity: 0.4;
	color:black !important;
}

.right{
	padding-left: 10px;
	flex-direction: column;
	column-gap: 20px;
}

.left {
	padding-right: 10px;
}

/* Text */

.info {
	display:flex;
}

.left > ul{
	display:flex;
	flex-direction: column;
}

.left > ul > li{
	display:flex;
	
}

.texthaut {
	padding-bottom: 10px;
}

/* Smartphone */
@media screen and ( max-width: 600px ) {
}

/* PC */
@media screen and ( min-width: 601px ) {
	#main {
		grid-template-columns: 1fr 1fr 1fr;
	}
}