/* Sans media */
/* Hero */

body {
	background: url( "../img/hero/sushiBG.jpg" );
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

#hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 300px;
	row-gap: 50px;
	height: calc( 100vh - var( --navbar-height ) );
	color: white;
	text-align: center;
	text-shadow: 0 0 3px var( --border-color );
}

#hero h1 {
	font-size: 3em;
	font-weight: bold;
	line-height: 1.5em;
}

#hero a {
	font-size: 1.3em;
	color: inherit;
}



/* Main */
#main {
	display: grid;
	gap: 50px;
	padding: 10px var( --global-horizontal-padding );
	box-sizing: border-box;
}

#main h2 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 1em;
}

#main p {
	line-height: 1.3em;
	margin-top: 1em;
}

.products > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.products > ul > li {
	padding: 0 10px;
}

figure > img {
	display: block;
	max-width: 150px;
	min-height: 150px;
}

.sous-category {
	display : none
}

/* Smartphone */
@media screen and ( max-width: 600px ) {

}

/* PC */
@media screen and ( min-width: 601px ) {
	#main {
		grid-template-columns: 1fr 1fr 1fr;
	}
}