/* Sans media */
/* Body */
body {
	padding-top: var( --navbar-height );
}

/* Global */
body > header > nav {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	height: var( --navbar-height );
	width: 100%;
	justify-content: space-between;
	padding: 0 var( --global-horizontal-padding );
	box-sizing: border-box;
	border-bottom: 1px solid var( --border-color );
	background-color: #fff;
}

/* Logo */
body > header > nav > a {
	display: inline-block;
	height: 100%;
	padding: var( --navbar-padding ) 0;
	box-sizing: border-box;
}
body > header > nav > a > img {
	height: 100%;
}

/* liste */
body > header > nav > ul {
	display: flex;
	align-items: center;
}
body > header > nav > ul a {
	position: relative;
	color: inherit;
	text-decoration: none;
    color: #b4a895;
    font-weight: bold;
    font-size: medium;
}
body > header > nav > ul a.active {
	text-decoration: underline;
}
body > header > nav > ul a:hover::before {
	content: ">";
	position: absolute;
	right: calc( 100% + 3px );
}


/* Smartphone */
@media screen and ( max-width: 600px ) {
	/* Menu burger */
	body > header > nav > img {
		margin: var( --navbar-padding ) 0;
		transition: transform .6s ease;
	}
	body > header > nav > img {
		margin: var( --navbar-padding ) 0;
	}
	body > header > nav.opened > img {
		transform: rotate( 270deg );
	}

	/* Liste */
	body > header > nav > ul {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: var( --navbar-padding ) var( --global-horizontal-padding );
		box-sizing: border-box;
		justify-content: space-between;
		background-color: #fff;
		border-bottom: 1px solid var( --border-color );
		transition: transform .6s ease;
	}
	body > header > nav:not( .opened ) > ul {
		transform: translateX( 100% );
	}
}

/* PC */
@media screen and ( min-width: 601px ) {
	/* Menu burger */
	body > header > nav > img {
		display: none;
	}

	/* Liste */
	body > header > nav > ul {
		column-gap: 20px;
	}
}