body{
    background:url(../img/content/backgroundpanier.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

body:after{
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.6);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    z-index: -1;
}

.confirmed{
	display:none;
}

.remerciement{
	display:none;
}

.texte-remerciement{
	max-width:550px;
	margin:0 auto;
	background:rgba(0,0,0,0.8);
	padding:30px;
	border-radius:5px;
	display:flex;
	flex-direction: column;
	box-shadow: 0 0 10px rgba(0,0,0,0.13);
	width:100%;
}

.actif{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 50px;
	height: calc( 100vh - var( --navbar-height ) );
	color: white;
	text-align: center;
	text-shadow: 0 0 3px var( --border-color );
	width:100%;
}

nav{
    background-color:black !important;
    color:gold;
    justify-content: center !important;
}

.small-container{
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background:rgba(0,0,0,0.6);
    width: 35%;
    color: #fff;
}

cart-page{
    margin:80px auto;
}

table{
    width:100%;
    border-collapse:collapse;
}


.cart-info{
    color: #fff;
    display:flex;
    flex-wrap:wrap;

}

th{
    text-align:left;
    padding:5px;
    color:white;
    background:black;
    font-weight:normal;
}

td{
    padding:10px 5px;
}

td input{
    width:40px;
    height:30px;
    padding:5px;
}

td a{
    color:red;
    font-size:12px;
}

td img{
    width:80px;
    height:80px;
    margin-right:10px;
}

.total-price{
    display:flex;
    justify-content: flex-end;
}

.total-price table{
    border-top:3px solid #ff523b;
    width:100%;
    max-width:400px;
}

td:last-child{
    text-align:right;

}
th:last-child{
    text-align:right;
}

.button-wrapper{
    display:block;
    position:absolute;
    background:#81674B;
	text-align:center;
	padding:15px;
	border-radius:5px;
	color:#fff;
	cursor:pointer;
	text-transform:uppercase;
	width: 20%;
    left: 509px;
}

.button-wrapper a {
    text-decoration: none;
    color:#fff;
}

.button-wrapper a::after{
    background-color: white;
	opacity: 0.4;
	color:black !important;
}

